body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

#map {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#head {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 40px;
  overflow: hidden;
  background: rgba(255,255,255,0.8);
}

#head #login {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 160px;
  font-size: 0.8em;
}

#head #login .login-avatar {
  float: left;
  height: 30px;
  margin-right: 0.5em;
}

#head #login .login-name {
  color: inherit;
  text-decoration: underline;
}

#head #login .login-logout {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
}

#head #login .login-logout img {
  height: 100%;
}

#head #logo {
  position: absolute;
  left: 20px;
  top: 5px;
  width: 150px;
  height: 30px;
  font-size: 1.4em;
  font-weight: bold;
}

#head #logo img {
  height: 100%;
  margin-right: 0.3em;
}

#head #search {
  position: absolute;
  left: 200px;
  top: 7px;
  width: 220px;
  font-size: 0.9em;
}

#head #search input[type="text"] {
  width: 150px;
}

#head #search input[type="submit"] {
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 2px 10px;
}

#main {
  background: rgba(255,255,255,0.5);
  position: absolute;
  left: 10px;
  top: 50px;
  width: 400px;
  bottom: 10px;
  overflow: hidden;
}

#main-table {
  width: 100%;
  height: 100%;
  border-spacing: 10px;
  border-collapse: separate;
}

#main-table td {
  vertical-align: top;
}

#main-button {
  height: 30px;
}

#main-button button {
  border-radius: 5px;
  border: 1px solid #00cc33;
  padding: 2px 10px;
  background-color: #00cc33;
}

#main-top {
  height: 9em;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
}

.main-top-header {
  color: #666;
  display: block;
  height: 2.5em;
}

.main-top-stats {
  font-size: 0.8em;
  white-space: nowrap;
}

.main-top-stats img {
  height: 25px;
  margin-right: 5px;
}

.main-top-left {
  font-size: 0.9em;
}

.main-top-left b {
  float: left;
  font-size: 5em;
  margin-right: 0.3em;
  line-height: 1em;
}

#main-bottom {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;
}

#main-bottom-container {
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  left: 10px;
  right: 10px;
  top: 60px;
  bottom: 10px;
}

#main-bottom table td {
  padding-bottom: 0.5em;
  vertical-align: top;
}

#main-bottom table td:first-child {
  width: 30px;
  padding-right: 10px;
}

#main-bottom table td:first-child img {
  height: 30px;
}

.main-feed-head-title {
  float: left;
  padding-right: 2em;
  color: #777;
}

.main-feed-head-source label {
  padding-right: 0.5em;
  font-weight: normal;
  color: #3374ff;
  cursor: pointer;
}

.main-feed-head-source label input {
  margin-right: 5px;
}

#main-bottom table td:last-child {
  font-size: 0.9em;
  line-height: 1.3em;
  color: #555;
  font-style: italic;
}

.feed-name, .feed-address {
  font-style: normal;
}

.feed-date {
  font-size: 0.9em;
}

#balloon{
 position:absolute;
 left: 20px;
 right:20px;
 top:20px;
 background:rgba(255,255,255,0.8);
border:2px solid yellow;
padding:0.5em;
text-align:center;
}
#balloon h1{
font-size:1em;
}





















