#head #login{
  display:none;
}

#head #search {
  display:none;
}

#main {
  left: 10px;
  top: 50px;
  right: 10px;
  bottom: 10px;
  width:auto;
}

.main-top-header {
  height: 1.5em;
}

.main-top-left b {
  font-size: 3em;
}

.main-top-left{
  line-height:1.1em;
}

.main-feed-head-source{
  display:none;
}

#main-bottom-container {
    top:3em;
}

#main-bottom table td:last-child {
  font-size: 0.8em;
  line-height: 1.1em;
}
